<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="icon" href="/assets/images/notaMusical.png" type="image/png">
    <title>StudioSync</title>
</head>

<body>
    <video autoplay muted loop playsinline id="home-background">
        <source src="/assets/videos/7095074-uhd_4096_2160_25fps.mp4" type="video/mp4">
    </video>

    <%-include('partials/header') %>

        <main id="apresentacao">
            <div class="apresentacao-div">
                <h1>StudioSync</h1>
                <p>Escolha uma sala, veja horários disponíveis e faça sua reserva</p>
            </div>
        </main>

</body>

</html>